/* Reset some default styles for HTML elements */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

h3,
h4 {
    font-size: 20px;
    color: #fefbfb;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Navigation Bar Styles */
nav {
    background-color: #012b53;
    box-shadow: 3px 3px 5px (0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover {
    border-bottom: 2px solid #ff3d3d;;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #012b53;
    box-shadow: -10px 0 10px #012b53;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

svg {
    fill: white;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}



/* Hero Section Styles */
.hero {
    background: #012b53;
    padding: 100px 0;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative;
}

.hero-content {
    text-align: center;
    color: #fff;
    z-index: 1;
    position: relative;
}


.hero-content .container i {
    font-size: 30px;
    color: #ff6b6b;
}

.hero-content .container i:hover {
    color: #ff3d3d;
}

.hero-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: 0;
    transform: translateX(20px);
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50px;
}



.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 15px 20px;
    background: #ff6b6b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #ff3d3d;
}

.hero-content .container {
    justify-content: center;
    gap: 12px;
}

.hero-content .container i {
    font-size: 40px;
}



/* About Me Section Styles */
.about {
    background: #f5f5f5;
    padding: 50px 0;
}

.about-content {
    text-align: center;
}

.about-content h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 18px;
    color: #274c77;
    line-height: 1.5;
    text-align: justify;
    padding: 20px;
}

.about-image {
    text-align: center;
    margin-top: 30px;
}

.about-image img {
    width: 50%;
    max-width: 500px;
    border-radius: 50%;
}

.about h2 {
    text-align: center;
}

span {
    color: #fb8500;
}


/* Education Section Styles */
.education {
    background: #eceef0;
    padding: 50px 0;
}

.education .container {
    gap: 50px;
}

.education .section-title {
    text-align: center;
    margin-bottom: 40px;
}

.education .section-title h2 {
    font-size: 36px;
    color: #333;
}

.education-entry {
    margin-bottom: 30px;
}

.education-entry h3 {
    font-size: 18px;
    color: #0c0c0b;
    margin-bottom: 10px;
}

.education-entry p {
    font-size: 18px;
    color: #274c77;
}

.education h2 {
    text-align: center;
}

.education-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}





/* Skills Section Styles */
.skills {
    background: #f5f5f5;
    padding: 50px 0;
}

.skills .container {
    display: inline;
    text-align: center;
}

.skills .section-title {
    text-align: center;
    margin-bottom: 40px;
}

.skills .section-title h2 {
    font-size: 36px;
    color: #333;
}

.skill-entry {
    padding: 0 20px 0 20px;
}

.skill-entry h4 {
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
}

.progress-bar {
    background: #ccc;
    height: 20px;
    border-radius: 10px;
}

.progress {
    background: #007bff;
    height: 100%;
    border-radius: 10px;
    text-align: right;
    padding-right: 10px;
    color: #fff;
    font-weight: bold;
}

.skills h2 {
    text-align: center;
}

.skill-entry h4 {
    font-size: 20px;
}



/* Services Section Styles */
.services {
    background: #f5f3f4;
    padding: 50px 0;
}

.services .container {
    display: flex;
    justify-content: center;
    padding: 0;
}

.service-card {
    background: #f5f3f4;
    border-radius: 8px;
    text-align: center;
    width: 100%;
}

.service-card:hover {
    background-color: #fafbfc;
}

.service-icon {
    font-size: 36px;
    color: #007bff;
}

.service-card h3 {
    font-size: 24px;
    color: #13546b;
    ;
    margin: 10px 0;
}

.service-card p {
    font-size: 18px;
    color: #274c77;
    line-height: 1.5;
    text-align: justify;
    padding: 20px;
}

.services h2 {
    text-align: center;
}

.service-icon i {
    font-size: 100px;
}



/* Certificate Section Styles */
.certificates {
    background: #ffff;
    padding: 10px 0;
}

.certificates .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.certificate-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    padding: 10px;
}

.certificate-card:hover {
    background-color: #c9dbeb;
}

.certificate-card img {
    max-width: 100%;
    height: auto;
}

.certificate-card h3 {
    font-size: 24px;
    color: #003566;
    margin: 10px 0;
}

.certificate-card p {
    font-size: 18px;
    color: #003566;
    padding-bottom: 25px;
}

.certificates h2 {
    text-align: center;
}






/* Contact Section Styles */
.contact {
    background: #f5f5f5;
    padding: 50px 0;
}

.contact .container {
    justify-content: space-evenly;
    text-align: justify;
}

.contact .section-title h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.contact .contact-info {
    font-size: 20px;
    color: #274c77;
    margin: 20px 0;
    padding: 50px;
}

.contact .contact-info a {
    color: #007bff;
    text-decoration: none;
}

.contact h2 {
    text-align: center;
}

.contact-image img {
    width: 100%;
    max-width: 500px;
    padding-left: 15px;
}





/* Footer Styles */
footer {
    background: #13546b;
    ;
    color: #fff;
    padding-bottom: 50px;
}

footer .container {
    display: flex;
    justify-content: space-evenly;
}

.footer-entry {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.footer-entry h4 {
    margin: 0;
    font-size: 18px;
}

.footer-entry a {
    color: white;
    padding: 7px 0;
}

.footer-entry a:hover {
    color: #ff595e;
}

.footer-entry h6{
    margin: 0;
    padding: 7px 0;
    font-size: 15px;
    font-weight: 300;
}

/* Subfooter Styles */
.subfooter {
    background: #073140;
    ;
    color: #888;
    text-align: center;
}

.subfooter .container {
    display: flex;
    justify-content: center;
}

.subfooter p {
    margin: 0;
}








@media(max-width: 780px) {
    .container {
        flex-direction: column;
    }

    .hero-content .container {
        flex-direction: row;
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    header {
        background-color: #0c0c0b;
    }

    .logo {
        padding-bottom: 20px;
    }

    .hero-content {
        padding: 0;
    }

    footer .container {
        display: flex;
        flex-direction: row;
    }

    iframe {
        width: 150px;
        height: 150px;
    }

    .education .container {
        gap: 0;
    }

    .contact .contact-info {
        font-size: 20px;
        color: #274c77;
        margin: 0;
        padding: 0;
    }
}























/* -----------------About Me Page CSS Here -----------*/

header {
    background-color: #012b53;
    text-align: center;
    padding: 20px 0;
    color: #ffff;
}

h1 {
    margin: 0;
}

.profile {
    text-align: center;
    background-color: #012b53;
    color: #ffff;
    padding-bottom: 20px;
}

.profile img {
    border-radius: 50%;
    max-width: 200px;
}

.description {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.description h2 {
    font-size: 30px;
    padding: 15px 0;
}

.description p {
    font-size: 20px;
    color: #003566;
    font-size: 500;
    line-height: 30px;
    text-align: justify;
}

.skills,
.contact-me {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.skills ul,
.contact-me ul {
    list-style: none;
    padding: 0;
}

.contact-me h2 {
    padding-bottom: 20px;
}

.skills li,
.contact-me li,
.contact-me p {
    margin-bottom: 10px;
    color: #003566;
    font-size: 18px;
    line-height: 30px;
}

.contact-me ul li a {
    color: #0078d4;
    text-decoration: none;
}


/* -----------------Education Page CSS Here -----------*/
.edu-education {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edu-education h2 {
    margin: 0 0 10px;
    color: #00296b;
}

strong {
    color: #3d348b;
    font-size: 20px;
}

.edu-education p {
    margin: 0;
    font-size: 18px;
    padding-top: 20px;
    color: #fb8500;
}





/* -----------------Skill Page CSS Here -----------*/
.skills-list {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0 0 10px;
}

.skills-list ul {
    list-style: none;
    padding: 0;
}

.skills-list li {
    margin-bottom: 10px;
    color: #003566;
    font-size: 20px;
    padding-bottom: 10px;
}


/* -----------------Service Page CSS Here -----------*/
.service {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service h2 {
    margin: 0 0 10px;
}

.service p {
    margin: 0;
    color: #003566;
    font-size: 20px;
    padding-bottom: 10px;
    line-height: 40px;
}
.contact-btn {
    padding: 0 5px 0 5px;
    color: #e36414;
}



/* -----------------Certificate Page CSS Here -----------*/

.certificate {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.certificate h2 {
    margin: 0 0 10px;
}

.certificate strong {
    color: #0078d4;
}

.certificate p {
    margin: 0;
    padding: 15px 0;
    font-size: 18px;
}


/* ----------------Contact Me Page Here---------------*/
.contact-information .profile{
    background-color: #ffff;
}
.contact-information .profile img{
    width: 200px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.contact-information {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideInUp 1s ease-in;
}

@keyframes slideInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.contact-information h2 {
    margin: 0 0 10px;
}

.contact-information ul {
    list-style: none;
    padding: 0;
}
.contact-information ul li{
    font-size: 18px;
    color: #00296b;
    padding: 15px 0;
}
.contact-information a {
    color: #0078d4;
    text-decoration: none;
    transition: color 0.3s;
}
.contact-information p{
    color: #083c7b;
    font-size: 20px;
    padding-bottom: 10px;
}
.contact-information a:hover {
    color: #005fbb;
}
